
<section id="home" data-element_type="section">
    <app-home></app-home>
</section>   

<section id="about" data-element_type="section">
    <app-about></app-about>
</section>

<section id="services" data-element_type="section">
    <app-services></app-services>
</section>

<section id="recommendation" data-element_type="section">
    <app-recommendation></app-recommendation>
</section>

<!-- <section id="customers" data-element_type="section">
    <app-customers></app-customers>
</section> -->

<section id="conection" data-element_type="section">
    <app-conection></app-conection>
</section>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
