body {
	align-items: center;
	background: #E3E3E3;
	display: flex;
	height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

// body {
//     padding-top: 20px;
// }

// .carousel {
//   width: 100%;
// }

// .slide-box {
//   display: flex;
//   justify-content: space-between;
// }

// @media (min-width: 576px) and (max-width: 767.98px) {
//   .slide-box img {
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
// }

// @media (min-width: 768px) and (max-width: 991.98px) {
//   .slide-box img {
//     -ms-flex: 0 0 33.3333%;
//     flex: 0 0 33.3333%;
//     max-width: 33.3333%;
//   }
// }

// @media (min-width: 992px)
// {
//   .slide-box img {
//     -ms-flex: 0 0 25%;
//     flex: 0 0 25%;
//     max-width: 25%;
//   }
// }

// .carousel-caption {
//   background-color: rgba(0, 0, 0, 0.5);
//   padding: 20px;
//   border-radius: .5rem;
// }