<div class="row">
    <div class="card col-4 border border-0">
        <img class="card-top" src="assets/img/cusIcon.svg">
        <div class="card-body">
            <h4 class="card-title">1070</h4>
            <p class="card-text">לקוחות מרוצים</p>
        </div>
    </div>
    <div class="card col-4 border border-0">
        <img class="card-top" src="assets/img/buildIcon.svg">
        <div class="card-body">
            <h4 class="card-title">21</h4>
            <p class="card-text">בניני מגורים</p>
        </div>
    </div>
    <div class="card col-4 border border-0">
        <img class="card-top" src="assets/img/shopIcon.svg">
        <div class="card-body">
            <h4 class="card-title">2</h4>
            <p class="card-text">מרכזי קניות</p>
        </div>
    </div>
</div>

<!-- <div class="row all">
    <div class="container">
        <div class="row media p-3">
            <div class="col-sm-4">
                <div class="media-body">
                    <h3>קצת עלינו</h3>
                    <p>
                        עכאאר וטואטכ ןוןוןוןו גגלןאלטעח ללללל
                        ווןןןגר רק5ק5ר5ק5 טא7א6ר6ר וט7א7א76א6
                        וווו כראטר פפטןטצל ףףךו ררררר קררר פ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                        אטוו רררדר םןךח גקדקדק דדדד אאאא פפפ
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <video width="500" loop controls>
                    <video height="500" autoplay loop controls preload="auto">
                    <source src="assets/img/about.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
</div> -->



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>כמה מילים עלינו</h4>
            <p>
                כאן יבוא טקסט של אודות בעז"ה מתחלף
                כאן יבוא טקסט של אודות בעז"ה מתחלף
                כאן יבוא טקסט של אודות בעז"ה מתחלף
                כאן יבוא טקסט של אודות בעז"ה מתחלף
                כאן יבוא טקסט של אודות בעז"ה מתחלף
                כאן יבוא טקסט של אודות בעז"ה מתחלף
            </p>
            
         
            
        </div><!--.col -->
        
        <div class="col-md-8">
            <div class="vid">
                <iframe width="560" height="315" src="assets/img/about.mp4" allowfullscreen=""></iframe>
            </div><!--./vid -->
            
        </div><!--.col -->
        
    </div><!--./row -->
    
</div><!--./container -->