<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/img/1.jpg" alt="Snow" style="width:100%">
    </div>

    <div class="col-sm-4">
      <img src="assets/img/2.jpg" alt="Snow" style="width:100%">
    </div>

    <div class="col-sm-4">
      <img src="assets/img/3.jpg" alt="Snow" style="width:100%">
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <img class="col-sm-4" src="assets/img/1.jpg" alt="Snow" style="width:100%">

    <img class="col-sm-4" src="assets/img/2.jpg" alt="Snow" style="width:100%">

    <img class="col-sm-4" src="assets/img/3.jpg" alt="Snow" style="width:100%">
  </div>
</div>

-->

<div>
  <br>

  <div class="container-fluid">
    <div class="card-group">
      <div class="row">
        <button class="card img-fluid col-4 border border-0">
          <img class="card-img-top" src="assets/img/background3.png" alt="Snow" height="100%">
          <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
          </div>
        </button>

        <button class="card img-fluid col-4 border border-0">
          <img class="card-img-top" src="assets/img/background3.png" alt="Snow" height="100%">
          <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
          </div>
        </button>

        <button class="card img-fluid col-4 border border-0">
          <img class="card-img-top" src="assets/img/background3.png" alt="Snow" height="100%">
          <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>