<!-- <div>
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>יצירת קשר</h1>
          <p>השאירו פרטיכם כדי להצטרף</p>
          <hr>
      
          <label for="email"><b>מייל</b></label>
          <input type="text" placeholder='הכנס כתובת דוא"ל' name="email" required>
      
          <label for="psw"><b>סיסמא</b></label>
          <input type="password" placeholder="הקש סיסמא" name="psw" required>
      
          <label for="psw-repeat"><b>אימות סיסמא</b></label>
          <input type="password" placeholder="הקש שנית את הסיסמא" name="psw-repeat" required>
      
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
      
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="fas"><i style='font-size:24px' class='fas'>&#xf1d8;</i></button>
          </div>
        </div>
      </form>
</div> -->
<!-- <div class="row clouds"> -->
<!-- <div class="waite" style="position: absolute; bottom: 4px; left: 20px"> -->
<!-- <div class="col-6 waite">
    <form class=".form-group">
    </form> -->
<!-- <span class="man">
      <img src="assets/img/person.png" height="700px">
    </span> -->
<!-- </div>
</div> -->

<div class="cloouds">
  <div class="waite">
    <form class="form-group">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="pwd">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <label class="label">רוצים להזניק<br> את הנכס ? דברו איתנו>>></label>
  </div>
  <span class="man">
    <img src="assets/img/person.png" height="700px">
  </span>
</div>